:root {
    --purp: darkmagenta;
    --gtext: 3px 0px 5px white;

}

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    min-height: 100%;
}

header {
    text-align: center;
    background-color: var(--purp);
    border-color: black;
    border-style: solid;
    text-shadow: var(--gtext);
    width: 100%;
    top: 0;
    padding: 5px;
}

header p {
    font-size: 14px;
    padding: 5px;
    text-shadow: var(--gtext);
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-around;
    padding: 2em;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 33%;
    height: 300px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    overflow: hidden;
}

section p {
    font-size: .5em;
    text-align: center;
    text-shadow: var(--gtext);
    height: fit-content;
}

section:hover {
    border-radius: 5px;
    box-shadow: 0 0 20px 10px chartreuse;
    transition: all 0.5s ease-in-out;
}

h2 {
    font-size: 13px;
    text-align: center;
    text-shadow: var(--gtext);
    border-bottom: solid black;
    background-color: var(--purp);
    width: 100%;
    height: 45px;
    padding: 10px;
    top: 0;
}

pre {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 280px;
    height: fit-content;
    padding: 20px;
    box-shadow: 4px 0 10px black inset;
}

pre:active {
    user-select: all;
}

code {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

footer {
    text-align: center;
    font-size: 15px;
    background-color: var(--purp);
    box-shadow: -2px -2px 10px black;
    
}

@media screen and (max-width: 960px) {
    section {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 90%;
    }
    
}